BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 100
NamespaceIndentation: All
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
AccessModifierOffset: -4